.box-model{
    background-color: rgb(0, 165, 0);
    padding: 30px;
    margin: 20px;
}

.box-model h1{
    background-color: red;
    padding: 20px;
    margin: 20px;
}

.child-inline-ex{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
}

.container{
    height: 400px; 
    width: 400px; 
    background-color: blue;
    position: relative;
}

.child{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    bottom: 10px;
}

.flex-container{
    height: 700px; 
    width: 80%; 
    background-color: blue;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.flex-child{
    height: 200px;
    width: 200px;
    background-color: red;
    min-width: 100px;
}